//variables

$primary-color: #5CA5A5;
$secondary-color: #2B3939;
$tertiary-color: #7C8F8F;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');

$font-weights: (
    "medium": 400,
    "bold": 600
);

$primary-font: 'League Spartan', sans-serif;


